.user-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--unach-gris-claro);
}

.user-content {
  margin-left: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.user-main {
  flex: 1;
  padding: 2rem;
}

@media (max-width: 768px) {
  .user-content {
    margin-left: 200px;
  }

  .user-main {
    padding: 1rem;
  }
}



