.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--unach-gris-claro);
}

.admin-main {
  margin-left: 250px;
  margin-top: 80px;
  flex: 1;
  padding: 2rem;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .admin-main {
    margin-left: 200px;
  }
}



